@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
:root {
  --HeaderFooter: #1c1e53;
  --PrimaryColor: #282938;
  --DotColor: #2405f2;
  --WhteColor: #fff;
  --BannerColor: #f4f5f5;
}
body {
  font-family: "Poppins", sans-serif;
}
/* ====================== navbar part css start =================== */
#navbar_part .coustom_navbar {
  background-color: var(--HeaderFooter);
}
#navbar_part .coustom_navbar .btn button {
  background-color: transparent;
  padding: 18px 48px;

  border-radius: 41px;
  border: 2px solid #f4f6fc33;
}
#navbar_part .coustom_navbar .btn button a {
  color: var(--WhteColor, #fff);
  font-size: 16px;
  font-weight: 500;
}
#navbar_part .coustom_navbar ul li a {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 500;
  margin-right: 29px;
}
#navbar_part .coustom_navbar ul li a:hover {
  color: var(--WhteColor);
}
/* ====================== navbar part css end ================= */
/* ====================== benner part css start ================= */
#benner_part {
  padding: 100px 0;
  background-color: var(--HeaderFooter);
}
#benner_part .benner_left h1 {
  color: var(--WhteColor, #fff);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}
#benner_part .benner_left p {
  color: var(--WhteColor, #fff);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}
#benner_part .benner_left .coustom_but {
  padding: 16px 48px;
  border-radius: 41px;
  background: #fcd980;
  color: var(--PrimaryColor, #282938);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
#benner_part .benner_imgs {
  margin-left: 80px;
}
/* ====================== benner part css end ================= */
/* ====================== logo part css start ================= */
#logo_part {
  padding: 100px 0;
}
#logo_part .text_logo h3 {
  color: var(--PrimaryColor, #282938);
  font-size: 38px;
  font-weight: 600;
}
#logo_part .text_logo p {
  color: var(--PrimaryColor, #282938);
  font-size: 16px;
  font-weight: 400;
}

/* ====================== logo part css end ================= */
/* ====================== working part css start ================= */
#working_part .header_part h2 {
  color: var(--PrimaryColor, #282938);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
#working_part .working_contaent {
  background-color: var(--BannerColor);
}
#working_part .working_contaent .icon {
  padding: 50px 31px 48px 48px;
}
#working_part .working_contaent .icon h3 {
  color: var(--PrimaryColor, #282938);
  font-size: 24px;
  font-weight: 500;
}
#working_part .working_contaent .icon p {
  color: var(--PrimaryColor, #282938);
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
/* ====================== working part css end ================= */
/* ====================== client part css end ================= */
#client_part {
  padding: 100px 0;
}
#client_part .clint_left h5 {
  color: var(--PrimaryColor);
  font-size: 18px;
  font-weight: 500;
}
#client_part .clint_left h2 {
  color: var(--PrimaryColor, #232536);
  font-size: 35px;
  font-weight: 600;
  line-height: 56px;
}
#client_part .clint_left p {
  color: var(--PrimaryColor, #282938);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
}
#client_part .client_imgs {
  margin-left: 81px;
}
/* ====================== client part css end ================= */
/* ====================== revision part css end ================= */
#revision_part {
  padding: 100px 0;
  background-color: var(--BannerColor);
}
#revision_part .revision_right h5 {
  color: var(--PrimaryColor);
  font-size: 18px;
  font-weight: 500;
}
#revision_part .revision_right h2 {
  color: var(--PrimaryColor, #232536);
  font-size: 33px;
  font-weight: 600;
  line-height: 56px;
}
#revision_part .revision_right p {
  color: var(--PrimaryColor, #282938);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
}
#revision_part .revision_imgs {
  margin-right: 81px;
}
/* ====================== revision part css end ================= */
/* ====================== support part css start ================= */
#support_part {
  padding: 100px 0;
}
#support_part .support_left h5 {
  color: var(--PrimaryColor);
  font-size: 18px;
  font-weight: 500;
}
#support_part .support_left h3 {
  color: var(--PrimaryColor, #232536);
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
#support_part .support_left p {
  color: var(--PrimaryColor, #232536);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
}
#support_part .support_imgs {
  margin-left: 80px;
}
/* ====================== support part css end ================= */
/* ====================== delivery part css start ================= */
#delivery_part {
  padding: 100px 0;
  background-color: #fcd9801a;
}
#delivery_part .delivery_left h5 {
  color: var(--HeaderFooter);
  font-size: 16px;
  font-weight: 500;
}
#delivery_part .delivery_left h3 {
  color: var(--PrimaryColor, #232536);
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
}
#delivery_part .delivery_left p {
  color: var(--PrimaryColor, #232536);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
}
#delivery_part .delivery_imgs {
  margin-right: 80px;
}
/* ====================== delivery part css end ================= */
/* =============  faq part css start =========== */
#faq_part {
  padding: 100px 0;
}
#faq_part .faq_left h3 {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 41px;
  font-weight: 600;
  line-height: 56px;
}
#faq_part .faq_left a {
  color: var(--icon-color, #2405f2);
  font-family: var(--Poppins);
  font-size: 18px;
  font-weight: 500;
}
#faq_part .accordion_part .accordion_text_right span {
  color: var(--icon-color, #2405f2);
  font-family: var(--Poppins);
  font-size: 24px;
  font-weight: 500;
  padding-right: 60px;
}
#faq_part .accordion_part .accordion_text_right {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 24px;
  font-weight: 500;
}
#faq_part .accordion_part .overlay_text {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 15px;
  font-weight: 500;
  line-height: 32px;
  padding: 0 14%;
  opacity: 0.87;
}
/* =============  faq part css end =========== */
/* =============  footer part css start =========== */
#footer_part {
  padding: 100px 0;
  background: var(--HeaderFooter);
}
#footer_part .footer_left p {
  color: var(--white_color, #fff);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 22px;
  opacity: 0.8;
}
#footer_part .footer_left .footer_contact {
  margin-top: 86px;
  background-color: #fcd980;
}
#footer_part .footer_left .footer_contact .contact ul li .text_titel {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 18px;
  font-weight: 500;
  padding-top: 22px;
}
#footer_part .footer_left .footer_contact .contact ul li .type_email {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 400;
}
#footer_part .footer_right h2 {
  color: var(--white_color, #fff);
  font-family: var(--Poppins);
  font-size: 48px;
  font-weight: 600;
}
#footer_part .footer_right p {
  color: var(--white_color, #f4f6fc);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
}
#footer_part .footer_right .icons {
  margin-top: 40px;
}
#footer_part .footer_right .icons a {
  margin-left: 10px;
}
#footer_part .footer_right .icons a [class="fa-brands fa-facebook"] {
  width: 40px;
  height: 40px;
  background-color: #3d6d9c;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: all linear 0.3s;
}
#footer_part .footer_right .icons a [class="fa-brands fa-facebook"]:hover {
  background: #807c00;
  color: #fff;
  transform: translateY(-30%);
}
#footer_part .footer_right .icons a [class="fa-brands fa-twitter"] {
  width: 40px;
  height: 40px;
  background-color: #983333;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: all linear 0.3s;
}
#footer_part .footer_right .icons a [class="fa-brands fa-twitter"]:hover {
  background: rgb(21, 0, 128);
  color: #fff;
  transform: translateY(-30%);
}
#footer_part .footer_right .icons a [class="fa-brands fa-instagram"] {
  width: 40px;
  height: 40px;
  background-color: #4c9833;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: all linear 0.3s;
}
#footer_part .footer_right .icons a [class="fa-brands fa-instagram"]:hover {
  background: rgb(96, 128, 0);
  color: #fff;
  transform: translateY(-30%);
}
#footer_part .footer_right .icons a [class="fa-brands fa-linkedin-in"] {
  width: 40px;
  height: 40px;
  background-color: #603398;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: all linear 0.3s;
}
#footer_part .footer_right .icons a [class="fa-brands fa-linkedin-in"]:hover {
  background: green;
  color: #fff;
  transform: translateY(-30%);
}

/* =============  footer part css end =========== */
/* =============  footer nav part css start =========== */
#footer_nav_part .naver_text {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
}
#footer_nav_part .custom_navbar li a {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
}
/* =============  footer nav part css end =========== */
