@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
:root {
  --HeaderFooter: #1c1e53;
  --PrimaryColor: #282938;
  --DotColor: #2405f2;
  --WhteColor: #fff;
  --BannerColor: #f4f5f5;
}
body {
  font-family: "Poppins", sans-serif;
}
/* ====================== navbar part css start =================== */
#navbar_part .coustom_navbar {
  background-color: var(--HeaderFooter);
}
#navbar_part .coustom_navbar .btn button {
  background-color: transparent;
  padding: 18px 48px;

  border-radius: 41px;
  border: 2px solid #f4f6fc33;
}
#navbar_part .coustom_navbar .btn button a {
  color: var(--WhteColor, #fff);
  font-size: 16px;
  font-weight: 500;
}
#navbar_part .coustom_navbar ul li a {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 500;
  margin-right: 29px;
}
#navbar_part .coustom_navbar ul li a:hover {
  color: var(--WhteColor);
}
/* ====================== navbar part css end ================= */
/* ====================== benner part css start ================= */
#benner_part {
  padding: 100px 0;
  background-color: var(--HeaderFooter);
}
#benner_part .benner_left h1 {
  color: var(--WhteColor, #fff);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}
#benner_part .benner_left p {
  color: var(--WhteColor, #fff);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}
#benner_part .benner_left .coustom_but {
  padding: 16px 48px;
  border-radius: 41px;
  background: #fcd980;
  color: var(--PrimaryColor, #282938);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
#benner_part .benner_imgs {
  margin-left: 80px;
}
/* ====================== benner part css end ================= */
/* ====================== logo part css start ================= */
#logo_part {
  padding: 100px 0;
}
#logo_part .text_logo h3 {
  color: var(--PrimaryColor, #282938);
  font-size: 38px;
  font-weight: 600;
}
#logo_part .text_logo p {
  color: var(--PrimaryColor, #282938);
  font-size: 16px;
  font-weight: 400;
}

/* ====================== logo part css end ================= */
/* ====================== working part css start ================= */
#working_part .header_part h2 {
  color: var(--PrimaryColor, #282938);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
#working_part .working_contaent {
  background-color: var(--BannerColor);
}
#working_part .working_contaent .icon {
  padding: 50px 31px 48px 48px;
}
#working_part .working_contaent .icon h3 {
  color: var(--PrimaryColor, #282938);
  font-size: 24px;
  font-weight: 500;
}
#working_part .working_contaent .icon p {
  color: var(--PrimaryColor, #282938);
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
/* ====================== working part css end ================= */
/* ====================== client part css end ================= */
#client_part {
  padding: 100px 0;
}
#client_part .clint_left h5 {
  color: var(--PrimaryColor);
  font-size: 18px;
  font-weight: 500;
}
#client_part .clint_left h2 {
  color: var(--PrimaryColor, #232536);
  font-size: 35px;
  font-weight: 600;
  line-height: 56px;
}
#client_part .clint_left p {
  color: var(--PrimaryColor, #282938);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
}
#client_part .client_imgs {
  margin-left: 81px;
}
/* ====================== client part css end ================= */
